*.log
.DS_Store
__pycache__/
*.py[cod]
.venv/
venv/
**/logs/*.log
agent-api/frontend/node_modules/
agent-api/frontend/dist/
agent-api/.env
agent-api/.sentero_env
agent-api/agent-api.service
HA/secrets.yaml
.idea/
/agent-api/data/invoices/
/agent-api/data/market/
/agent-api/data/messaging/
/agent-api/data/mywellness/
/agent-api/data/vacation/
/agent-api/build/
/agent-api/data/
/agent-api/dist/
